nav {
    font-family: 'Bebas Neue', cursive;
    background-image: url(../Header/booksbackground4.jpg);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}
 a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255)
}

.navbar-brand {
    font-size: 35px;
}

h1 {
    color: cadetblue;
}

.nav-item {
    font-size: 25px;
}